@charset "UTF-8";
/*
 * This Source Code is subject to the terms of the Mozilla Public License
 * version 2.0 (the "License"). You can obtain a copy of the License at
 * http://mozilla.org/MPL/2.0/.
 */
/*
 * This Source Code is subject to the terms of the Mozilla Public License
 * version 2.0 (the "License"). You can obtain a copy of the License at
 * http://mozilla.org/MPL/2.0/.
 */
body {
  background-color: #fff;
  color: #000;
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: #333;
    color: #ccc;
  }
}

body,
input,
button {
  font-family: sans-serif;
  font-size: 1em;
}

@media (prefers-color-scheme: dark) {
  input,
button {
    filter: invert(0.8);
  }
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

a:focus {
  /* Make sure outline is always visible, browsers normally won’t show it before Tab is pressed */
  outline: 1px dotted;
}

.warning {
  background-color: #faa;
  border-radius: 5px;
  padding: 5px;
  background-image: url("../images/ionicons/md-warning.svg");
  background-size: 20px;
  background-position: 5px 5px;
  background-repeat: no-repeat;
}
:root:not([dir=rtl]) .warning {
  padding-left: 30px;
}
:root[dir=rtl] .warning {
  padding-right: 30px;
}

.success {
  background-color: #cfc;
  border-radius: 5px;
  padding: 5px;
}

.error {
  font-size: 0.9em;
  color: #f44;
}

:root:not([dir=rtl]) .unknown-error-cancel {
  float: right;
}
:root[dir=rtl] .unknown-error-cancel {
  float: left;
}

.unknown-error-details {
  font-size: 0.9em;
  white-space: pre-wrap;
}

.help-icon {
  display: inline-block;
  cursor: help;
  width: 16px;
  height: 16px;
  background-size: 16px;
  background-repeat: no-repeat;
  background-image: url("../images/ionicons/md-help-circle-outline.svg");
}
@media print {
  .help-icon {
    display: none;
  }
}

input[type=checkbox] {
  width: 1em;
  height: 1em;
  border: 1px solid black;
  border-radius: 2px;
  margin: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
}
:root:not([dir=rtl]) input[type=checkbox] {
  margin-right: 5px;
}
:root[dir=rtl] input[type=checkbox] {
  margin-left: 5px;
}

input[type=checkbox]:checked {
  background-image: url("../images/ionicons/md-checkmark.svg");
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: center;
}

.modalOverlay {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  z-index: 10000;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.33);
}

.modalOverlay-inner {
  margin: auto;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
}
@media (prefers-color-scheme: dark) {
  .modalOverlay-inner {
    background-color: #333;
  }
}
.modalOverlay-inner.stretch {
  width: 100%;
}
.modalOverlay-inner > :last-child {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.modalOverlay-inner.cancelable > :last-child {
  padding-top: 3px;
}

.modalOverlay-cancel-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.cancel {
  display: inline-block;
  min-width: 12px;
  min-height: 12px;
  background-size: 12px;
  background-repeat: no-repeat;
  background-image: url("../images/ionicons/md-close.svg");
  background-position: center;
}
.cancel:hover {
  background-color: rgba(17, 85, 119, 0.1);
}

.modalOverlay-cancel-container > .cancel {
  padding: 5px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.setting {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 15px 0;
}

.setting:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.setting-label {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  width: 70%;
  margin-right: 15px;
}

.description {
  font-size: 80%;
  opacity: 0.5;
  padding-left: 15px;
}

.setting input:not([type=checkbox]) {
  flex-grow: 1;
  width: 1em;
}

.accessKeyMarker {
  text-decoration: underline;
}

.accessKeyHint {
  position: absolute;
  display: flex;
  font-size: 6px;
  border: 1px solid black !important;
  border-radius: 3px;
  background-color: #ffffe0;
  text-decoration: underline;
  min-width: 16px;
  min-height: 16px;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  z-index: 10001;
}

:root {
  margin: 0;
}

html[data-portname=index] body {
  margin: 100px auto;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

body {
  width: 400px;
  margin: 0 auto;
}

h1 {
  font-size: 100%;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 15px;
}

a {
  color: #1775a4;
}

.page {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.unknown-error {
  margin: 5px;
}

.special-site {
  font-style: italic;
}

.block-start,
.button-container,
.link-container {
  margin-top: 15px;
}

.button-container:not([hidden]),
.link-container:not([hidden]) {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.link-container {
  font-size: 0.9em;
}

.unknown-error-details {
  font-size: 0.9em;
  white-space: pre-wrap;
}

.password-score {
  display: flex;
  flex-direction: row;
  align-content: stretch;
}
.password-score * {
  flex-grow: 1;
  background-color: #ccc;
  height: 5px;
  margin: 2px;
}

.password-score[data-score="0"] .password-score-0 {
  background-color: #f00;
}

.password-score[data-score="1"] .password-score-0,
.password-score[data-score="1"] .password-score-1 {
  background-color: #f80;
}

.password-score[data-score="2"] .password-score-0,
.password-score[data-score="2"] .password-score-1,
.password-score[data-score="2"] .password-score-2 {
  background-color: #ee0;
}

.password-score[data-score="3"] .password-score-0,
.password-score[data-score="3"] .password-score-1,
.password-score[data-score="3"] .password-score-2,
.password-score[data-score="3"] .password-score-3 {
  background-color: #cf0;
}

.password-score[data-score="4"] .password-score-0,
.password-score[data-score="4"] .password-score-1,
.password-score[data-score="4"] .password-score-2,
.password-score[data-score="4"] .password-score-3,
.password-score[data-score="4"] .password-score-4 {
  background-color: #0f0;
}

.tabs {
  display: flex;
  flex-direction: row;
}
.tabs > :not(.tablist) {
  flex-grow: 1;
}

.tablist {
  display: flex;
  flex-direction: column;
  background-color: #157;
}

.tab {
  min-width: 30px;
  min-height: 30px;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 50%;
  filter: invert(0.8);
  padding: 5px;
}
.tab.active {
  background-color: white;
}
.tab:not(.active):hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.spacer {
  flex-grow: 1;
}

.select-site {
  background-image: url("../images/ionicons/md-search.svg");
}

.password-list {
  background-image: url("../images/ionicons/md-list.svg");
}

.settings {
  background-image: url("../images/ionicons/md-settings.svg");
}

.lock {
  background-image: url("../images/ionicons/md-exit.svg");
}

.alias-container {
  font-size: 0.9em;
}

.password-list-container {
  display: flex;
  flex-direction: column;
  padding: 1px;
  max-height: 300px;
  overflow: auto;
}

.password-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-name-container {
  flex-grow: 1;
  padding: 5px;
  cursor: pointer;
}
.user-name-container:hover {
  background-color: rgba(17, 85, 119, 0.1);
}
.user-name-container:focus {
  background-color: #cfc;
}

.password-revision::before {
  content: "#";
}

.password-revision {
  font-size: 0.9em;
  vertical-align: text-top;
}

.iconic-link {
  min-width: 20px;
  min-height: 20px;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 5px;
}
@media (prefers-color-scheme: dark) {
  .iconic-link {
    filter: invert(0.8);
  }
}

a.iconic-link:hover {
  background-color: rgba(17, 85, 119, 0.1);
}

.password-menu-link {
  background-image: url("../images/ionicons/md-more.svg");
}

.password-menu-link.menuactive {
  background-color: #b3b3b3;
}

.to-document-link {
  background-image: url("../images/ionicons/md-color-wand.svg");
}

.to-clipboard-link {
  background-image: url("../images/ionicons/md-clipboard.svg");
}

.show-pwshow-link {
  background-image: url("../images/ionicons/md-eye.svg");
}

.notes-link {
  background-image: url("../images/ionicons/md-paper.svg");
}

.make-generated-link {
  background-image: url("../images/ionicons/md-arrow-round-up.svg");
}

.bump-revision-link {
  background-image: url("../images/ionicons/md-refresh.svg");
}

.password-remove-link {
  background-image: url("../images/ionicons/md-trash.svg");
}

.password-menu-entry:not([hidden]) {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.9em;
  color: #000;
  text-decoration: none;
  padding: 1px;
}
@media (prefers-color-scheme: dark) {
  .password-menu-entry:not([hidden]) {
    color: #ccc;
  }
}
.password-menu-entry:hover {
  background-color: rgba(17, 85, 119, 0.1);
}
:root:not([dir=rtl]) .password-menu-entry > .iconic-link {
  margin-right: 5px;
}
:root[dir=rtl] .password-menu-entry > .iconic-link {
  margin-left: 5px;
}

.password-menu-entry-container {
  display: flex;
  flex-direction: row;
}
.password-menu-entry-container > .password-menu-entry {
  flex-grow: 1;
}
:root:not([dir=rtl]) .password-menu-entry-container > .password-menu-entry:first-child {
  padding-right: 5px;
}
:root[dir=rtl] .password-menu-entry-container > .password-menu-entry:first-child {
  padding-left: 5px;
}
:root:not([dir=rtl]) .password-menu-entry-container > .password-menu-entry:first-child {
  border-right: 1px solid #ccc;
}
:root[dir=rtl] .password-menu-entry-container > .password-menu-entry:first-child {
  border-left: 1px solid #ccc;
}
.password-menu-entry-container > .password-menu-entry:last-child {
  justify-content: flex-end;
}
:root:not([dir=rtl]) .password-menu-entry-container > .password-menu-entry:last-child {
  padding-left: 5px;
}
:root[dir=rtl] .password-menu-entry-container > .password-menu-entry:last-child {
  padding-right: 5px;
}

.add-password-link {
  min-height: 20px;
  background-image: url("../images/ionicons/md-add-circle-outline.svg");
  background-size: 20px;
  background-repeat: no-repeat;
}
:root:not([dir=rtl]) .add-password-link {
  padding-left: 25px;
}
:root[dir=rtl] .add-password-link {
  padding-right: 25px;
}
@media (prefers-color-scheme: dark) {
  .add-password-link {
    color: #eeaa88;
    filter: invert(1);
  }
}

.password-name-entry {
  display: flex;
  flex-direction: column;
}

.length-container,
.charsets-container {
  display: flex;
  justify-content: space-between;
}

.warning.replacing {
  font-size: 0.9em;
}

.change-password-revision,
.use-recovery,
.cancel-recovery {
  font-size: 0.9em;
}

#password-length {
  flex-grow: 1;
}

.password-length-value {
  min-width: 3ch;
}

.site-autocomplete {
  border: 1px solid #000;
  padding: 5px;
  max-height: 8em;
  overflow: auto;
}
.site-autocomplete > .site-entry {
  cursor: pointer;
}
.site-autocomplete > .site-entry.active, .site-autocomplete > .site-entry:hover {
  background-color: rgba(17, 85, 119, 0.1);
}

.recovery-code-accepted {
  margin: 0;
  font-size: 0.9em;
}

.recovery-code-strip {
  margin: -2px 5px;
}

#recoveryInput {
  min-height: 100px;
}

.pwshow-container input {
  text-align: center;
  font-family: monospace;
  line-height: 1.5em;
}

#notes-textarea {
  min-height: 300px;
}

.modalOverlay-inner {
  box-sizing: border-box;
  max-width: 400px;
}